# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production
/build

# Local Environment Variables
.env*.local

# IDE and environment specific
.vscode/
.idx/
.DS_Store
